# Ignore folder named .adstar
.adstar/

# Ignore folder named um
um/

# Ignore specific file
styles copy.css

# Ignore Firebase config folder and files
.firebaserc
firebase.json
.firebase/

.obsidian/
data/.obsidian
data/.smart-env
data/.stfolder
data/.trash

# Ignore local environment variables
.env.local
.env

# Ignore local API key configuration
config.js